APP_NAME=Oryxbot
APP_ENV=local
APP_KEY=base64:***REMOVED***
APP_API_KEY=base64:***REMOVED***
APP_DEBUG=true
APP_URL=https://oryxbot.com
APP_DOMAIN=oryxbot.com
NOVA_URL=https://dashboard.oryxbot.com
NOVA_DOMAIN_NAME=dashboard.oryxbot.com

LOG_CHANNEL=stack

STRIPE_KEY=pk_live_51IN2FxJ8YxsR5Cgah4S6aWAUcBvxVTKp0VVNQex6P19cMhaBFMS3MzGb2IA8G9GqibXwkDS6f796WSVmPC0R6hSL00jvXZHLZA
STRIPE_SECRET=***REMOVED***
STRIPE_WEBHOOK_SECRET=***REMOVED***
STRIPE_PRICE_ID=price_1OxtDLJ8YxsR5CgaWcwTobVv
STRIPE_PROMO_CODE_ID=promo_1OxtH5J8YxsR5CgaN9npr6c2

COINBASE_KEY=***REMOVED***
COINBASE_WEBHOOK_SECRET=***REMOVED***

DB_CONNECTION=pgsql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=oryxbot
DB_USERNAME=laravel_server
DB_PASSWORD=***REMOVED***

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/922900403643875379/***REMOVED***

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=laravel_session
SESSION_DOMAIN=.oryxbot.com

POSTMARK_TOKEN=***REMOVED***
MAIL_MAILER=postmark
MAIL_FROM_ADDRESS=noreply@oryxbot.com
MAIL_FROM_NAME="${APP_NAME}"

LARAVEL_WEBSOCKETS_HOST=socket.oryxbot.com
LARAVEL_WEBSOCKETS_PORT=443
SOKETI_PORT=6001
SOKETI_METRICS_SERVER_PORT=9601
PUSHER_HOST=socket.oryxbot.com
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_ID=oryxbot
PUSHER_APP_KEY=***REMOVED***
PUSHER_APP_SECRET=secret
PUSHER_APP_CLUSTER=mt1
DEFAULT_APP_ENABLE_CLIENT_MESSAGES=true

OPEN_OBSERVE_PATH=/mnt/volume_openobserve
OPEN_OBSERVE_URL=https://logs.oryxbot.com
OPEN_OBSERVE_ROOT_USER=root@oryxbot.com
OPEN_OBSERVE_ROOT_PASSWORD=***REMOVED***

DEPLOYMENT_PASSWORD=***REMOVED***

MIX_STRIPE_KEY="${STRIPE_KEY}"
MIX_PUSHER_APP_ID="${PUSHER_APP_ID}"
MIX_PUSHER_APP_ID="${PUSHER_APP_ID}"
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DIGITALOCEAN_TOKEN=***REMOVED***
