APP_NAME=Oryxbot
APP_ENV=local
APP_KEY=
APP_API_KEY=
APP_DEBUG=true
APP_URL=http://oryxbot.test
APP_DOMAIN=oryxbot.test
NOVA_DOMAIN_NAME=dashboard.oryxbot.test

LOG_CHANNEL=stack

STRIPE_PRICE_ID=price_1IQcpaJ8YxsR5CgadQPFG9KS
STRIPE_PROMO_CODE_ID=aaaaaa

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=oryxbot
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=laravel_session
SESSION_DOMAIN=oryxbot.test

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=oryxbot
PUSHER_APP_KEY=
PUSHER_APP_SECRET=secret
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_ID="${MIX_PUSHER_APP_ID}"
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
