@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fontawesome";
@import "stripe";
@import "swal";

@import '~sweetalert2/src/sweetalert2';

html, body {
    background: #25282d;
}

.btn-color-secondary {
    background: #D3D3D3;
    color: #353D4A;
}

.gradient {
    background: linear-gradient(90deg, #aea480 0%, #D3C8A8 100%);
}

.border-primary {
    border-color: #D3C8A8;
}

.gradient-dark {
    background: linear-gradient(90deg, darken(#aea480, 10%) 0%, darken(#D3C8A8, 10%) 100%);
}

.bg-gray-200 {
    background: #EFEFEF;
}

.anchor {
    padding-top: 53px;
    margin-top: -53px;
}
@media (min-width: 1024px) {
    .anchor {
        padding-top: 72px;
        margin-top: -72px;
    }
}

.bg-gray-900 {
    background: #25282d;
}
.text-gray-900 {
    color: #25282d;
}


#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #9B937C;
    --gradient-color-2: #C1B79A;
    --gradient-color-3: #D3C8A8;
    --gradient-color-4: #E8DCBA;
    position: absolute;
    filter: blur(5px);
}

.shadow-keyboard-key {
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
}
