@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fontawesome";
@import "stripe";

@layer utilities {
    @variants hover, focus {
        .filter-none {
            filter: none;
        }
        .filter-grayscale-80 {
            filter: grayscale(80%);
        }
    }
}

html {
    background: white;
}

.btn-color-secondary {
    background: #D3D3D3;
    color: #353D4A;
}

.gradient {
    background: linear-gradient(90deg, #aea480 0%, #D3C8A8 100%);
}

.bg-gray-200 {
    background: #EFEFEF;
}

.anchor {
    padding-top: 53px;
    margin-top: -53px;
}
@media (min-width: 1024px) {
    .anchor {
        padding-top: 72px;
        margin-top: -72px;
    }
}

.bg-gray-900 {
    background: #25282d;
}
.text-gray-900 {
    color: #25282d;
}


#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #9B937C;
    --gradient-color-2: #C1B79A;
    --gradient-color-3: #D3C8A8;
    --gradient-color-4: #E8DCBA;
    position: absolute;
    filter: blur(5px);
}
