$swal2-button-padding: 0.5rem 1rem;
$swal2-icon-margin: 0;

$swal2-confirm-button-background-color: #25282d;

$swal2-cancel-button-background-color: #F9FAFB;
$swal2-cancel-button-color: #25282d;
$swal2-cancel-button-border: 2px solid #D1D5DB;
